{% extends 'admin-base.html.twig' %}

{% block title %}MX Park | Admin | Création session{% endblock %}

{% block body %}
  {# <div class="container"> #}
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="d-flex  mt-4 mb-2">
          <h1 class="h2">Création entraînement</h1>
          <p class="ml-auto">
            <a class="btn btn-primary" href="{{ path('event_index') }}">
              <i class="fas fa-arrow-circle-left"></i>
            </a>
          </p>
        </div>
        {{ include('event/_form_admin_new.html.twig') }}
      </div>
    </div>
  {# </div> #}
{% endblock %}
