/* ************** Generals ************** */

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
  padding-top: 68px;
  border: 1px solid red;
}

.alert {
  position: absolute !important;
  top: 70px !important;
  right: 0;
  z-index: 100;
}

/* ************** Navbar  ************** */

.nav-logo {
  max-height: 60px;
}
.navbar-nav li > a {
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}
.navbar-nav li > a:hover {
  color: #757575;
}
.navbar-nav li.active > a {
  color: #fff;
}
.navbar-brand {
  max-height: 70px;
}

.btn-dark {
  border-color: #999 !important;
}
.btn-dark:hover {
  border-color: #222 !important;
}

/* ************** Homepage  ************** */

.carousel-img {
  filter: brightness(50%);
  height: 25rem;
  object-fit: cover;
}
.homepage-illustration {
  display: none;
}

.homepage .container {
  height: calc(100vh - 29.375rem);
}

/* ************** Club section  ************** */

.club-illustration {
  height: 25rem;
}

/* ************** Infos section  ************** */

.infos {
  background-image: url("/img/background-3.webp");
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 88%;
  width: 100%;
}

/* ************** Event section  ************** */

/* ************** Contact section  ************** */

.contact {
  background-image: url("/img/background-2.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ************** Footer  ************** */

.footer {
  font-size: 0.8rem;
}

/* ************** Media Queries ************** */

@media screen and (max-width: 767px) {
  section {
    height: unset;
  }
  .homepage .container {
    height: 15rem;
  }
}

@media only screen and (max-width: 767px) {
  .homepage-illustration {
    height: 500px;
    width: 100%;
    background-image: url("../img/bg-sm-screen.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media only screen and (max-width: 470px) {
  .homepage-illustration {
    height: 450px;
  }
}
