{% extends 'admin-base.html.twig' %}

{% block title %}MX Park | Admin | Création membre{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form_admin.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}"><i class="fas fa-arrow-circle-left"></i></a>
{% endblock %}
